<div class="about-main">
    <!-- menampilkan pesan notice -->
    <% if notice %>
        <p><%= notice %></p>
    <% end %>

    <!-- menampilkan pesan alert -->
    <% if alert %>
        <p><%= alert %></p>
    <% end %>
    
    <!-- menampilkan form login -->
    <h1>LOGIN</h1>
    <%= form_tag controller: :auth, action: :login, local: true do %>
    
        <%= text_field_tag :email, '', placeholder: 'Email' %> <br><br>
        <%= password_field_tag :password, '', placeholder: 'Password' %> <br><br>

        <%= submit_tag 'Login' %> <br>
        <p>Belum punya akun? <%= link_to 'register', form_register_path %></p>
    <% end %>
</div>