<div class="about-main">
    <div class="masbro">
        <!-- menampilkan pesan notice -->
        <% if notice %>
            <p><%= notice %></p>
        <% end %>

        <!-- menampilkan pesan alert -->
        <% if alert %>
            <p><%= alert %></p>
        <% end %>

        <!-- menampilkan validasi error -->
        <% if @user.errors.any? %>
            <h5>
                <%= pluralize(@user.errors.count, "error") %> Uppss!, tidak bisa daftar karena :
            </h5>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        <% end %>

        <!-- menampilkan form register -->
        <h1>Sign Up</h1>
        <%= form_with model: @user, url: register_post_path do |f| %>
            <%= f.text_field :name, placeholder: 'Name' %> <br><br>
            <%= f.text_field :phone, placeholder: 'Phone' %> <br><br>
            <%= f.text_field :email, placeholder: 'Email' %> <br><br>
            <%= f.password_field :password, placeholder: 'Password' %> <br><br>

            <%= f.submit 'Sign Up' %> <br>
            <p>Already Have An Account? <%= link_to 'Login', form_login_path %></p>
        <% end %>
    </div>
</div>