<div class="about-main">
    <div class="tabel">
    <h1>Your Library</h1>
      <p><%= flash[:pesan] %></p>
      <a href="/book/new">New Book</a>
      <a href="/category/list">Category List</a>

        <%= form_tag("/book/index", :method => "get") do %>
            <div class="input-group">
                <%= search_field_tag :search, params[:search], placeholder: "Type", class: "form-control" %> 
                    <div class="input-group-btn">
                        <%= button_tag "Search for book", :class => 'btn btn-info glyphicon glyphicon-search', :name => nil %>          
                    </div>           
            </div>       
        <% end %>

        <table border="1" width="100%" style="border-collapse: collapse;">
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Author</th>
                <th>No Isbn</th>
                <th>Description</th>
                <th>Category</th>
                <th>Availability Status</th>
                <th>Action</th>   
            </tr>
            <%
            no=0
            @book.each_with_index do |value, index| %>
            <tr>
                <td><%= index + 1 + (@book.current_page-1)*5 %></td>
                <td><%= value.title %></td>
                <td><%= value.author %></td>
                <td><%= value.isbn %></td>
                <td><%= value.description %></td>
                <td><%= value.category.name %></td>
                <td><%= value.availability_status %></td>
                <td>
                    <a href="/book/detail/<%= value.id %>">Detail</a> |
                    <a href="/book/edit/<%= value.id %>">Edit</a> |
                    <a href="/book/hapus/<%= value.id %>" OnClick="return confirm('Yakin Hapus Data..?')">Delete</a>
                </td>
            </tr>
            <%end%>
        </table>
        <%= will_paginate @book, renderer: BootstrapPagination::Rails %>
    </div>
</div>