<div class="about-mail">
    <div class="container">
        <h1>Tambah Buku</h1>
        <%= form_tag("/book/create") do %>
            <div class="wiw">
                <%= flash[:pesan] %>
            </div>
            <%= render(partial: "error") %>
                <div class="form">
                    <div class="form-body">
                        <label>Title</label>
                        <%= text_field_tag(:title, @book.title) %>

                        <label>Author</label>
                        <%= text_field_tag(:author, @book.author) %>

                        <label>Isbn</label>
                        <%= text_field_tag(:isbn, @book.isbn) %>

                        <label>Description</label>
                        <textarea name="description"><%= @book.description %></textarea>
                                
                        <label for="category">Category:</label>
                        <% cats=Category.all.map{|c| [c.name, c.id]} %>
                        <% cats.insert(0, ["-pilih-", nil]) %>
                        <%= select_tag "category", options_for_select(cats, @book.category_id) %>             
                        <br>
                        <button type="submit">Save</button>
                        <a href="/book/index">Back</a>
                    </div>
                </div>
        <% end %>
    </div>
</div>